---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About - Euge Galbuchi</title>
	</head>
	<body>
		<h1>Euge Galbuchi</h1>
    <h2>About</h2>
		<p>Sitio web bajo construcción</p>
	</body>
</html>
